* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

.logo img{
height: 50px;
width: auto;
margin-right: 20px;
}

html, body, #root{
height: 100%;
margin: 0;
padding: 0;

}

body{
display: flex;
flex-direction: column;
font-family: 'Courier New', Courier, monospace;

}

.app-container{
display: flex;
flex-direction: column;
min-height: 100vh;

}

main{
flex: 1;

}